.img-wrapper {
  border-radius: 34% 66% 15% 85% / 59% 8% 92% 41%;
  transition: border-radius 500ms ease-in-out;
}

.img-wrapper:hover {
  pointer: cursor;
  border-radius: 50%;
}

.tex-wra {
  color: black; /* Text color */
  border-radius: 12px;
  border: 2px solid black;
}
.About-wrapper {
  height: 92vh;
  /* position: relative; */
}

@media screen and (max-width: 910px) {
  .About-wrapper {
    background-color: red;
    height-bottom: 90vh;
    padding-bottom: 2px;
    /* gap: 3; */
  }
  .wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
  }
  .head {
    padding-bottom: 2px;
    margin-top: 0px;
  }
  .text {
  }
  .img-wrapper {
    /* width: full; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 100px; */
  }
}
