.portfolio {
  /* height: 250px; */
}

.btn-color1 {
  color: white; /* Text color */
  border-radius: 12px;
  /* border: 2px solid white; */
}

.btn-color2 {
  color: black; /* Text color */
  border-radius: 12px;
  border: 2px solid black;
}

@media screen and (max-width: 910px) {
  .portfolio {
    display: flex;
    flex-direction: column;
  }
}
