* {
  margin: 0;
  padding: 0;
}

body {
  font-family: ;
}

/* this allows u to scroll smoothly when u click a link on the same ie like the href in links  */
html {
  scroll-behavior: smooth;
}
p {
  color: rgb(85, 85, 85);
}

a,
btn {
  transition: all 300ms ease;
}


